<div class="import-content">

  <div class="letter">
    <div class="header">A</div>

    <div class="card">
      <div class="name"></div>
      <div class="pronunciation"></div>
      <div class="bold location"></div>
      <div class="bold miscellaneous"></div>
      <div class="description">
        <img src="" />
        
        Description
      </div>
    </div>

  </div>

  <div class="letter">
    <div class="header">B</div>
  </div>

  <div class="letter">
    <div class="header">C</div>
  </div>

  <div class="letter">
    <div class="header">D</div>
  </div>

  <div class="letter">
    <div class="header">E</div>
  </div>

  <div class="letter">
    <div class="header">F</div>
  </div>

  <div class="letter">
    <div class="header">G</div>
  </div>

  <div class="letter">
    <div class="header">H</div>
  </div>

  <div class="letter">
    <div class="header">I</div>
  </div>

  <div class="letter">
    <div class="header">J</div>
  </div>

  <div class="letter">
    <div class="header">K</div>
  </div>

  <div class="letter">
    <div class="header">L</div>
  </div>

  <div class="letter">
    <div class="header">M</div>
  </div>

  <div class="letter">
    <div class="header">N</div>
  </div>

  <div class="letter">
    <div class="header">O</div>
  </div>

  <div class="letter">
    <div class="header">P</div>
  </div>

  <div class="letter">
    <div class="header">Q</div>
  </div>

  <div class="letter">
    <div class="header">R</div>
  </div>

  <div class="letter">
    <div class="header">S</div>
  </div>

  <div class="letter">
    <div class="header">T</div>
  </div>

  <div class="letter">
    <div class="header">U</div>
  </div>

  <div class="letter">
    <div class="header">V</div>
  </div>

  <div class="letter">
    <div class="header">W</div>
  </div>

  <div class="letter">
    <div class="header">X</div>
  </div>

  <div class="letter">
    <div class="header">Y</div>
  </div>

  <div class="letter">
    <div class="header">z</div>
  </div>

</div>