<div class="import-content">

  <div class="letter">
    <div class="header">A</div>

    <div class="card">
      <div class="name">Abacus</div>
      <div class="description">
          Alternatively referred to as the counting frame, an abacus is a mechanical device used
          to assist a person in performing mathematical calculations and counting.
          <br />
          Before computers, calculators, or even arithmetic using paper and pencil, the abacus was
          the most advanced device for crunching numbers. Before the abacus, the only methods
          people had to use for their mathematical calculations were their fingers and toes, or
          stones in the dirt.
      </div>
    </div>
  
    <div class="card">
      <div class="name">Address Bar</div>
      <div class="description">
        The term address bar refers to the text field in a web browser that identifies the user's
        location on the web and allows them to access different websites.
      </div>
    </div>

    <div class="card">
      <div class="name">ASCII</div>
      <div class="pronunciation">as-key</div>
      <div class="description">
        Short for American Standard Code for Information Interexchange, ASCII is a standard that
        assigns letters, numbers, and other characters in the 256 slots available in the 8-bit
        code. The ASCII decimal (Dec) number is created from binary, which is the language of all
        computers. As shown in the table below, the lowercase "h" character (Char) has a decimal
        value of 104, which is "01101000" in binary.
        <br />
        ASCII was first developed and published in 1963 by the X3 committee, a part of the ASA
        (American Standards Association). The ASCII standard was first published as ASA X3.4-1963,
        with ten revisions of the standard being published between 1967 and 1986.
      </div>
    </div>

    <div class="card">
      <div class="name">Assembly Language</div>
      <div class="description">
        Sometimes referred to as assembly or ASM, an assembly language is a low-level programming
        language.
        <br />
        Programs written in assembly languages are compiled by an assembler. Every assembler has
        its own assembly language, which is designed for one specific computer architecture.
      </div>
    </div>

  </div>

  <div class="letter">
    <div class="header">B</div>

    <div class="card">
      <div class="name">Browser</div>
      <div class="description">
        Alternatively referred to as a web browser or Internet browser, a browser is a software
        program created as a simplified means to present and explore content on the World Wide Web.
        These pieces of content, including pictures, videos, and web pages, are connected using
        hyperlinks and classified with URIs (Uniform Resource Identifiers).
        <br />
        There have been many different web browsers that have come and gone over the years. The first,
        named WorldWideWeb (later changed to Nexus), was invented by Tim Berners-Lee in 1990. However,
        the first graphical browser and widely used browser that help bring popularity to the Internet
        was NCSA Mosaic.
      </div>
    </div>
  
  </div>

  <div class="letter">
    <div class="header">C</div>
  </div>

  <div class="letter">
    <div class="header">D</div>
  </div>

  <div class="letter">
    <div class="header">E</div>
  </div>

  <div class="letter">
    <div class="header">F</div>
  </div>

  <div class="letter">
    <div class="header">G</div>
  </div>

  <div class="letter">
    <div class="header">H</div>
  </div>

  <div class="letter">
    <div class="header">I</div>
  </div>

  <div class="letter">
    <div class="header">J</div>
  </div>

  <div class="letter">
    <div class="header">K</div>
  </div>

  <div class="letter">
    <div class="header">L</div>
  </div>

  <div class="letter">
    <div class="header">M</div>
  </div>

  <div class="letter">
    <div class="header">N</div>
  </div>

  <div class="letter">
    <div class="header">O</div>
  </div>

  <div class="letter">
    <div class="header">P</div>
  </div>

  <div class="letter">
    <div class="header">Q</div>
  </div>

  <div class="letter">
    <div class="header">R</div>
  </div>

  <div class="letter">
    <div class="header">S</div>
  </div>

  <div class="letter">
    <div class="header">T</div>
  </div>

  <div class="letter">
    <div class="header">U</div>
  </div>

  <div class="letter">
    <div class="header">V</div>
  </div>

  <div class="letter">
    <div class="header">W</div>
  </div>

  <div class="letter">
    <div class="header">X</div>
  </div>

  <div class="letter">
    <div class="header">Y</div>
  </div>

  <div class="letter">
    <div class="header">z</div>
  </div>
  
  </div>