<div class="import-content">

  <div class="letter">
    <div class="header">A</div>

    <div class="card">
      <div class="name">Acanthopholis</div>
      <div class="pronunciation">a-KAN-tho-FOLE-is</div>
      <div class="bold location">[Cretaceous Europe]</div>
      <div class="bold miscellaneous">Prickly Scale</div>
      <div class="description">
        <img src="/templates/images/dinosaur/acanthopholis_001.jpg" />
        
        It was an 18-foot long animal with an armor of rows of oval plates made
        from bone set in the skin, and sharp spikes along the middle of its back.
        <br />
        Acanthopholis was a herbivore. It lived in the Cretaceous period and
        inhabited Europe. Its fossils have been found in places such as England
        (United Kingdom).
      </div>
    </div>

    <div class="card">
      <div class="name">Albertosaurus</div>
      <div class="pronunciation">al-BERT-oh-SAW-rus</div>
      <div class="bold location">[Cretaceous Americas]</div>
      <div class="bold miscellaneous">Alberta Reptile</div>
      <div class="description">
        <img src="/templates/images/dinosaur/albertosaurus_001.jpg" />
        
        (Sometimes called Gorgosaurus) It lived right at the end of the age
        of dinosaurs. It was smaller than TYRANOSAURUS at about 26 feet long,
        but was still a fearsome beast.
        <br />
        Albertosaurus was a carnivore. It lived in the Cretaceous period and
        inhabited North America. Its fossils have been found in places such as
        Missouri, Nebraska and Montana.
      </div>
    </div>
  
    <div class="card">
      <div class="name">Allosaurus</div>
      <div class="pronunciation">AL-oh-SAW-rus</div>
      <div class="bold location">[Jurassic Americas]</div>
      <div class="bold miscellaneous">Different Reptile</div>
      <div class="description">
        <img src="/templates/images/dinosaur/allosaurus_001.jpg" />
        <img src="/templates/images/dinosaur/allosaurus_002.jpg" />
        
        This dinosaur was the main meat-eating dinosaur in North America in the
        late Jurrasic period.  It was about 30-feet long.  The Allosaurus was
        different from other meat-eating dinosaurs in the shapre of its skull,
        which has a ridge along the top that ran from between the eyes to the tip
        of its snout.
        <br />
        Allosaurus was a carnivore. It lived in the Jurassic period and inhabited
        Africa, Europe and North America. Its fossils have been found in places
        such as Utah, Colorado and Texas.
      </div>
    </div>
  
  </div>

  <div class="letter">
    <div class="header">B</div>

    <div class="card">
      <div class="name">Barosaurus</div>
      <div class="pronunciation">BARR-oh-SAW-rus</div>
      <div class="bold location">[Jurassic Africa, Americas]</div>
      <div class="bold miscellaneous">Heavy Reptile</div>
      <div class="description">
        <img src="/templates/images/dinosaur/barosaurus_001.jpg" />
        
        This dinosaur grew uo to 90-feet long.  The powerful neck vertebrae of
        this animal measures over a yard long.  If it reared up on its hind legs,
        it could use its long neck to reach the leaves off the highest trees.
        <br />
        Barosaurus was a herbivore. It lived in the Jurassic period and inhabited
        North America. Its fossils have been found in places such as Utah, Texas
        and South Dakota.
      </div>
    </div>
    
  </div>

  <div class="letter">
    <div class="header">C</div>
  </div>

  <div class="letter">
    <div class="header">D</div>
  </div>

  <div class="letter">
    <div class="header">E</div>
  </div>

  <div class="letter">
    <div class="header">F</div>
  </div>

  <div class="letter">
    <div class="header">G</div>
  </div>

  <div class="letter">
    <div class="header">H</div>
  </div>

  <div class="letter">
    <div class="header">I</div>
  </div>

  <div class="letter">
    <div class="header">J</div>
  </div>

  <div class="letter">
    <div class="header">K</div>
  </div>

  <div class="letter">
    <div class="header">L</div>
  </div>

  <div class="letter">
    <div class="header">M</div>
  </div>

  <div class="letter">
    <div class="header">N</div>
  </div>

  <div class="letter">
    <div class="header">O</div>
  </div>

  <div class="letter">
    <div class="header">P</div>
  </div>

  <div class="letter">
    <div class="header">Q</div>
  </div>

  <div class="letter">
    <div class="header">R</div>
  </div>

  <div class="letter">
    <div class="header">S</div>
  </div>

  <div class="letter">
    <div class="header">T</div>
  </div>

  <div class="letter">
    <div class="header">U</div>
  </div>

  <div class="letter">
    <div class="header">V</div>
  </div>

  <div class="letter">
    <div class="header">W</div>
  </div>

  <div class="letter">
    <div class="header">X</div>
  </div>

  <div class="letter">
    <div class="header">Y</div>
  </div>

  <div class="letter">
    <div class="header">z</div>
  </div>

</div>